.container{
    position:absolute;
    top: 70%;
    width: 1440px;
    background-color: #ebcc82;
    height: 200px;
    left: 0%;
    right: 0%;
    color: #fff;
    
}
.divcontainer{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
    gap: 150px;
}

.spantext{
    font-size: 40px;
}

.paratext{
    font-size: 20px;
}

.spantext1{
    height: 100px;
    width: 30px;
}