.maindiv{
  width: 1440px;
  background-color: #2B2D38;
  max-width: 100%;
  height: 1186px;
  position : absolute;
  margin-top: 56px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  top: 0px; 
  left: 0px; 
  right: 0px;
  position:absolute;

  
  
}

.heading{
  width: 622px;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  color: var(--White, #FFF);
  font-family: "Bebas Neue";
  height: 272px;
  align-items: flex-start;
  padding: 30px 30px 80px 60px;
}


.subdiv{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

.spantext {
  color: #F77A40;
}

.desciption{
  width: 622px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: var(--White, #FFF);
  font-family: "Bebas Neue";
  height: 272px;
  padding-left: 50px;
}

.text{
color: var(--White, #FFF);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 125% */
opacity: 0.5;
}

.button {
    padding: 2px 8px;
    width: 240px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 1; 
    border: none; 
    border-radius: 1rem 1rem 1rem 0rem;
    font-size: 19px;
    cursor: pointer; 
    background-color: #F77A40;;
}

.subdivimg{
  display: flex;
  position: relative;
  flex-direction: column;
  position: relative;
}

.subdivimg img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintains aspect ratio */
  position: absolute;
  
}

.subdivimg img:nth-child(1) {
  top: 91px;
  width: 260px;
  height: 439px;
}

.subdivimg img:nth-child(2) {
  top: 20px; /* Adjust the offset as needed */
  width: 320px;
  left: 170px;
  height: 486px;

}

.subdivimg img:nth-child(3) {
  top: 330px; /* Adjust the offset as needed */
  width: 386px;
  left: 160px;
  height: 380px;
}


.titleheading{
width: 700px;
height: 178px;
top: 808px;
left: 430px;
gap: 0px;
opacity: 0px;
color: #FFF;
font-family: "Bebas Neue";
font-size: 56px;
font-style: normal;
position : absolute;
font-weight: 400;
}

.smallheading{
  width: 700px;
height: 178px;
top: 790px;
left: 600px;
gap: 0px;
opacity: 0px;
color: #F77A40;
font-family: "Bebas Neue";
font-size: 24px;
font-style: normal;
position : absolute;
font-weight: 400;
}

.textdiv{
  width: 560px;
  height: 128px;
  top: 1108px;
  left: 440px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
