.container {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 1440px; 
    height: 64px; 
    background: #FFFFFFFF; /* white */
    border-radius: 4px; /* border-m */
    background-color:  #0EA89BFF;
}
.image {
    position: absolute; 
    top: 10px; 
    left: 24px; 
    width: 123px; 
    height: 44px; 
    border-radius: 0px; 
}
.container ul {
    list-style-type: none;
    position: absolute; 
    margin-left: 180px ;
    padding: 8px;
    display: flex; 
    align-items: center; 
    font-family: Lato; /* Body */
    font-size: 16px; 
    line-height: 22px; 
    font-weight: 400; 
    opacity: 1; 
    
    
}
.linktext{
    text-decoration: none;
    color: black;
}

.linktext1{
    text-decoration: none;
    color: white;
}


.container li{
    margin-right: 10px; 
    color: black !important;
    cursor: pointer; 
   
}

.buttondiv{
display: flex;
justify-content: flex-end;
padding: 21px;
margin-right: 30px;
gap: 30px;

}

.button{
    padding: 8px 18px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 1; 
    border: none; 
    border-radius: 26px; 
    font-size: 16px;
    cursor: pointer; 
}