.container {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 1440px; 
    min-width: 100%;
    height: 64px; 
    
    background-color:  #2B2D38;;
}
.image {
    position: absolute; 
    top: 10px; 
    left: 24px; 
    width: 123px; 
    height: 44px; 
    border-radius: 0px; 
}
.container ul {
    list-style-type: none;
    position: absolute; 
    margin-left: 180px ;
    padding: 8px;
    display: flex; 
    align-items: center; 
    font-family: Lato; /* Body */
    font-size: 16px; 
    line-height: 22px; 
    font-weight: 400; 
    opacity: 1; 
    
    
}
.linktext{
    text-decoration: none;
    color: white;
   
}

.linktext1{
    text-decoration: none;
    color: white;
}


.container li{
    margin-right: 10px; 
    color: black !important;
    cursor: pointer; 
   
}

.buttondiv{
display: flex;
justify-content: flex-end;
padding: 21px;
margin-right: 30px;
gap: 30px;

}

.button{
    padding: 8px 18px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    opacity: 1; 
    border: none; 
    border-radius: 1rem 1rem 1rem 0rem;
    font-size: 16px;
    cursor: pointer; 
    background-color: #F77A40;;
}

.navlink:hover {
    position: relative; /* Set position to relative */
    text-decoration: none; /* Remove default underline */
  }
  
  .navlink:hover::after {
    content: ""; /* Add content */
    position: absolute; /* Position the underline absolutely */
    bottom: -6px; /* Align the underline with the bottom of the text/link */
    left: 50%; /* Move the underline to the center horizontally */
    transform: translateX(-50%); /* Center the underline relative to the parent */
    width: 2rem; /* Set the width to cover the entire text/link with additional space */
    height: 0.25rem; /* Set the height of the underline */
    background-color: #F77A40; /* Set the color of the underline */
    border-radius: 0.375rem; /* Add border-radius */
  }
  